<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="SalesConnection" 
         connectionString="Data Source=\\NETWORK\Shared\RuwaaSoft\Database\Sales.db;Version=3;Pooling=True;Max Pool Size=100;" 
         providerName="System.Data.SQLite.EF6" />
    <add name="LocalSalesConnection" 
         connectionString="Data Source=|DataDirectory|\Sales.db;Version=3;" 
         providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  
  <appSettings>
    <add key="UseNetworkDatabase" value="true" />
    <add key="NetworkDatabasePath" value="\\NETWORK\Shared\RuwaaSoft\Database\Sales.db" />
    <add key="LocalDatabasePath" value="Data\Sales.db" />
    <add key="SyncInterval" value="300" />
    <add key="EnableLogging" value="true" />
    <add key="LogLevel" value="INFO" />
    <add key="CompanyName" value="RuwaaSoft" />
    <add key="CompanyNameAr" value="رؤى سوفت" />
    <add key="DefaultLanguage" value="ar" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>
